*target
*.cache
*.classpath
*.project
*.settings
*.idea
*.idea_modules
*.tmpBin
/logs
/bin/
/sbt
/archer/sbt
/archer/sbt.bat
*.sbtserver*
bin
/.ensime
/.ensime_cache
/enuma-security/app/slickSource/*
/esTmp
/info.log
/tempPath
/asyncWithLocation.log
/frontend/node_modules
*/.gradle
*/build
/frontend/package-lock.json
/.bsp
/sbt.bat
/sbt-launch.jar